.l-number-section {
    padding: 64px 0;
    background: radial-gradient(
            35.76% 44.26% at 5.1% 7.01%,
            rgba(0, 135, 254, 0.149164) 0%,
            rgba(0, 135, 254, 0.2) 0%,
            rgba(0, 135, 254, 0) 100%
        ),
        radial-gradient(45% 104.25% at 85.62% 105.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%),
        linear-gradient(0deg, #1f1f1d, #1f1f1d), #1f1f1d;

    @include media(tablet-s) {
        padding: 72px 0;
    }

    .c-line {
        margin: 48px 0;
    }

    &__btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .c-btn {
        width: 100%;

        @include media(tablet-s) {
            width: auto;
        }
    }
}
